doctype html
html
	include ../includes/head
	link(href='/css/theme.bootstrap.css', rel='stylesheet', media='screen')
	body
		include ../includes/navigation
		
		.container
			h1
				| Support
				span.pl-label.label.label-info #{supports.length}

			table.table.table-hover#table-sort
				thead
					tr
						th Date
						th Email
						th Mobile
						th Message
						th(data-placeholder='All').filter-select Status
						th.sorter-false.filter-false Actions

				tbody
					each support in supports
						- var timestamp = getTimestamp(support._id)
						- var m = new moment(timestamp)
						- var now = new moment()
						- var date = m.format('YYYY-MM-DD')
						tr.pl-row
							td
								| #{date}
							td
								| #{support.client.email}
							td
								| #{support.client.mobile}
							td
								| #{support.message}
							td
								| #{support.status}
							td
								- if(support.status != 'CLOSED')
									a(onclick='close_support("#{support._id}");').btn.btn-sm.btn-primary Close
							

	include ../includes/scripts_common
	include ../includes/scripts_tablesorter
	script.
		function close_support(support_id) {
			$.post('/admin/support/close', {support_id: support_id}, function(data) {
				if(!data.success) {
					alert('Error: ' + data.error);
				} else {
					location.reload();
				}
			});
		}