!!! 5
html
	include includes/head
	link(href='/css/theme.bootstrap.css', rel='stylesheet', media='screen')
	body
		include includes/navigation
		.container
			include includes/messages
		.container
			h1 
				| Orders
				span.pl-label.label.label-info #{orders.length}

			.panel
				.btn-group.btn-group
					button.btn.btn-default(onclick='markAllFilteredCheckboxes(true);')
										span.fa.fa-check-square-o
										|  All
					button.btn.btn-default(onclick='markAllFilteredCheckboxes(false);')
										span.fa.fa-square-o
										|  None
					button.btn.btn-default.reset
						span.fa.fa-ban
						|  Reset All Filters
					button.btn
						span.badge#filter-count= 0

				.btn-group.btn-group.pull-right
					button.btn
						span.badge#checked-count 0
					button.btn.btn-primary(onclick='downloadPackages()')
						span.fa.fa-download
						|  Photo Packages
					button.btn.btn-primary(onclick='ordersManage(\'printing\')')
						span.fa.fa-print
						|  Set Status Printing
					button.btn.btn-primary(onclick='ordersManage(\'shipped\')')
						span.fa.fa-truck
						|  Set Status Shipping
					button.btn.btn-primary(onclick='ordersExport()')
						span.fa.fa-file-text-o
						|  Export CSV
					button.btn.btn-warning#delete-btn
						span.fa.fa-times-circle
						|  Delete
					button.btn.btn-danger#delete-confirm(onclick='ordersManage(\'delete\')') Delete



			form(action='/admin/orders/manage', method='post')#orders-form
				input(type='hidden', name='action', value='', id='action')
				table.table.table-hover#table-sort
					thead
						tr
							th.sorter-false.filter-false
							th Date
							th Hours Ago
							th OrderID
							th(data-placeholder='All').filter-select Status
							th(data-placeholder='All').filter-select Client
							th(data-placeholder='All').filter-select Provincia
							th(data-placeholder='All').filter-select Comuna
							th Photos
							th
								span.fa.fa-usd
								|  Total
								
					tbody
						each order in orders
							- var timestamp = getTimestamp(order._id)
							- var m = new moment(timestamp)
							- var now = new moment()
							- var date = m.format('YYYY-MM-DD HH:mm')
							- var diff = now.diff(m, 'hours')
							tr.pl-row
								td
									input(type='checkbox', name='order_ids[]', value='#{order._id}', id='#{order._id}')
								td
									| #{date}
								td
									| #{diff}
								td
									| #{order._id}
								td
									| #{order.status}
								td
									| #{order.client.email}
								td
									| #{order.address.provincia}
								td
									| #{order.address.comuna}
								td
									| #{order.photo_count}
								td
									| #{order.cost_total}



	include includes/scripts_common
	include includes/scripts_tablesorter
	include includes/scripts_orders